{% extends 'base.html' %}

{% block title %}
| Add Thumnails
{% endblock title %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center">Hello</h1>
</div>

<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- another js -->
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}
