{% extends 'base.html' %}

{% load static %}

{% block style %}
{% endblock style %}

{% block content %}
<div class="container my-5 mx-auto">
    <div class="row justify-content-around">
        {% for i in pool %}
        {% if i.status == True %}
        <div class="col-lg-6 mb-5">
            <div class="card border-success">
                <div class="card-header border-success">
                    <div id="carousel-example-{{ i.id }}z" class="carousel slide carousel-fade z-depth-1-half"
                        data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-{{i.id}}z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-{{i.id}}z" data-slide-to="1"></li>
                        </ol>
                        <!--/.Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="../../{{ i.img_1 }}" alt="First slide">
                            </div>
                            <!--/First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">
                                <img class="d-block w-100" src="../../{{ i.img_2 }}" alt="Second slide">
                            </div>
                            <!--/Second slide-->
                        </div>

                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-{{ i.id }}z" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-{{ i.id }}z" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="text-dark">{{ i.title }}</h4>
                    <p class="text-secondary">{{ i.user }}</p>
                    <p class="text-secondary">{{ i.date_add }}</p>
                    <div>
                        <p class="text-success mr-5">Image 1: {{ i.vote_img1 }}</p>
                        <p class="text-warning">Image 2: {{ i.vote_img2 }}</p>
                    </div>
                </div>
                <div class="card-footer border-success d-flex justify-content-center p-3 bg-transparent">
                    {% if request.user != i.user %}
                    <form action="../../../vote/{{i.img_1.id}}/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Image 1" class="btn btn-success">
                    </form>
                    <form action="../../../vote/{{i.img_2.id}}/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Image 2" class="btn btn-warning ml-5">
                    </form>
                    {% else %}
                    <a href="" class="btn btn-success">Edit</a>
                    <a href="" class="btn btn-danger ml-5">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- another js -->
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
{% endblock content %}