{% extends 'base.html' %}

{% block title %}
| Login
{% endblock title %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container py-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="card">
                <div class="card-header bg-primary">
                    <h1 class="text-center">Login Status</h1>
                </div>
                <div class="card-body">
                    <h4 class="text-center text-capitalize">you are already logged in, in this site</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container py-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <h1 class="text-center ">Login</h1>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form">
                        {% csrf_token%}
                        {{ form.as_p }}
                        <input type="submit" value="Login" class="btn btn-primary">
                    </form>
                </div>
                <div class="card-footer border-primary">
                    <p class="text-center text-capitalize">don't Have an acount? Create <a
                            href="{% url 'home:register' %}" class="text-info">Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- another js -->
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

{% endblock content %}