{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Thumbnails Vote {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    {% block style %}
    {% endblock %}

</head>

<body>
    {% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="{% url 'home:index' %}">Thumbnails Vote</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link text-capitalize" href="{% url 'home:my_thumbnails' %}">My thumbnails</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-capitalize" href="{% url 'home:add' %}">Add Thumbnails</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-capitalize" href="#">my account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-capitalize text-danger" href="../../../logout/">logout</a>
                </li>
            </ul>
        </div>
    </nav>

    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="{% url 'home:index' %}">Thumbnails Vote</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link text-capitalize" href="login/">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-capitalize" href="{% url 'home:register' %}">register</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <!-- bootstrap js -->
    <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- another js -->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>