{% extends 'base.html' %}

{% block title %}
| Not Login
{% endblock title %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="card">
                <div class="card-header bg-primary">
                    <h1 class="text-center">Login Status</h1>
                </div>
                <div class="card-body">
                    <h4 class="text-center text-capitalize">you not login yet</h4>
                </div>
                <div class="card-footer">
                    <p class="text-center text-capitalize">have an account? login <a href="../login/" class="text-info">here</a></p>
                    <p class="text-center text-capitalize">don't have an account? create <a href="{% url 'home:register' %}" class="text-info">here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
